@import "~bootstrap/scss/bootstrap";
@import "react-toastify/dist/ReactToastify.css";
@import "~react-modal-video/scss/modal-video.scss";
@import "slick-carousel/slick/slick.css";

@import "../../public/assets/fonts/gordita/stylesheet.css";
@import "../../public/assets/fonts/bootstrap-icons-1.11.1/font/bootstrap-icons.css";
@import "../../public/assets/fonts/font-awesome-6.4.2/css/all.css";
@import "../../public/assets/scss/style.scss";
@import "./privacy.scss";
@import "./listing-six.scss";
@import "./home-eight.scss";

.seo-footer {
  font-size: 11px;
  color: #999;
  line-height: 1.5;
  margin: 0 auto 12px;
  max-width: 1200px;
}
